[color]
	ui = true
[giggle]
	main-window-maximized = true
	main-window-geometry = 700x550+49+198
	main-window-view = HistoryView
	history-view-vpane-position = 515
	file-view-vpane-position = 526
[branch]
	autosetuprebase = always
[alias]
	k = log --graph --pretty=format:'%Cred%h%Creset %C(blue)%cN%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[merge]
	ff = false
[push]
	default = tracking
